<h1>form Array</h1>
<form [formGroup]="form">
  <div formArrayName="ContactNos">
    <div *ngFor="let contact of form.controls.ContactNos.controls;index as i" >
      <input placeholder="Contact Number" [formControlName]="i" >
    </div>

  </div>

  <button (click)="AddControl()">Add Control</button>
</form>


<button class="btn">Start Animation </button>

<div id="div" style="border:1px solid green ;background:green;height:105px;width:260px;position:relative;margin-top:10px;">Jquery</div>


  <router-outlet></router-outlet>
