<div class="container">
  <div class="row">
    <div class="col-md-6 offset-4">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" action="">

        <div class="form-group">
          <label for="" class="firstName">First Name:</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group">
          <label for="" class="firstName">Last Name:</label>
          <input type="text" class="form-control">
        </div>


        <div class="form-group">
          <label for="Email" class="firstName">Email:</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group">
          <label for="" class="firstName">Password:</label>
          <input type="text" class="form-control">
        </div>
          <div class="form-group mt-5">
            <button class="btn btn-primary btn-block">Register</button>
          </div>
      </form>
    </div>
  </div>
</div>