<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form [formGroup]="formPost" (ngSubmit)="OnPost();" action="">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" formControlName="Name" class="form-control">
                    <div class="help-text"
                        *ngIf="!formPost.controls['Name'].valid && !formPost.controls['Name'].touched">
                        Name is Required
                    </div>
                </div>

                <div class="form-group">
                    <label>Content</label>
                    <textarea class="form-control" formControlName="Content"></textarea>
                    <div class="help-text"
                        *ngIf="!formPost.controls['Content'].valid && !formPost.controls['Content'].touched">
                        Name is Required
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Add POst</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Content</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let post of posts">
                        <td>{{post.Name}}</td>
                        <td>{{post.Content}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>